# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
logs/

# other
eclipse
run
Twelve Render API/
libs/
temple.png
CooParticlesAPI-multiplatform/
DC Render API/
mhzy-main/
Draconic-Evolution-1.20/
main.bat

# Files from Forge MDK
forge*changelog.txt

# log
log/
